/* Basic page styling */
/* * {
  outline: 2px solid red;
} */

body {
  background-color: aliceblue;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  padding: 50px;
}

/* Heading style */
h1 {
  color: #333;
  font-size: 40px;
  margin-bottom: 0.5em;
}

/* Paragraph style */
p {
  color: #666;
  font-size: 18px;
}

/* Image styling */
img {
  border-radius: 12px;
  margin-top: 20px;
}

/* Button styling */
button {
  background-color: #00b828;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5ad35a;
}

.hero{
  display: flex;
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcHpiNW5wY2w4M2I2eGx3Z3JnZm1renk1aXh0NTFlaThsczV4NWs2MiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/enj50kao8gMfu/giphy.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
