/* Basic page styling */
/* * {
  outline: 2px solid red;
} */

body {
  background-color: aliceblue;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  padding: 50px;
}

/* Heading style */
h1 {
  color: #333;
  font-size: 40px;
  margin-bottom: 0.5em;
}

/* Paragraph style */
p {
  color: #666;
  font-size: 18px;
}

/* Image styling */
img {
  border-radius: 12px;
  margin-top: 20px;
}

/* Button styling */
button {
  background-color: #00b828;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5ad35a;
}
